* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
}

#main {
  margin: 24px 12px;
  padding: 24px 12px;
  background-color: #eee;
}

.heading {
  color: #333;
  text-align: center;
  margin: 24px 0px;
}

.subtitle {
  margin: 10px 0;
}

#img-div {
  margin: 0;
  padding: 14px;
  background-color: #fff;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#img-caption {
  margin: 14px 0px;
  text-align: center;
}

#tribute-info {
  max-width: 560px;
  margin: 0 auto;
  padding: 12px;
}

.tribute-info-heading {
  text-align: center;
  margin: 24px 0px;
}

#tribute-info ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 40px;
}

.footer {
  margin-top: 24px;
  text-align: center;
  font-style: normal;
}

.quote {
  text-align: center;
  margin: 24px 0px;
}
